{% extends 'XlabpChartBundle:Examples:default.html.twig' %}

{% block body %}
<h1>Xlab\pChartBundle examples.</h1>
<ul>
	<li><a href="{{ path('pChart_view', {'number': 1}) }}">Example: addRandomValues (example.addRandomValues.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 2}) }}">Example: barcode (example.barcode.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 3}) }}">Example: barcode39 (example.barcode39.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 4}) }}">Example: barcode128 (example.barcode128.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 5}) }}">Example: basic (example.basic.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 6}) }}">Example: Combo Area Lines (example.Combo.area.lines.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 7}) }}">Example: Combo (example.Combo.php)</a></li>
	<li><a href="{{ path('pChart_view', {'number': 8}) }}">Example: draw2DPie (example.draw2DPie.php)</a></li>
</ul>
{% endblock %}